.resultSearchShopContents {
  margin-top: 3rem;
}

.balloon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 5px 10px 15px;
  min-width: 100px;
  max-width: 95%;
  min-height: 48px;
  color: #555;
  font-size: 16px;
  background: #e0edff;
  border-radius: 12px;
}

.balloon:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -16px;
  border: 16px solid transparent;
  border-right: 16px solid #e0edff;
}

.box {
  text-align: left;
}

.button {
  display: flex;
}

.tag {
  margin-left: 8px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 14px;
  padding: 1px;
}
